<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
    <title>Home Page</title>
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
</head>
<body>
<div id="Container">
	<div class = "header">
		POST IT
		<div class = "notification">
			<a href="index.html">Log Out</a>  
		</div>
        <div id="search">
            <input type="search" name="searchMembers" value="Search members ...">
        </div>
	</div>

    <!---activity section -->
    <div id="leftbar">
        <p>Action</p>

        <div class="activity">
            <a href="">Create Group</a>
        </div>
        <div class="activity">
            <a href="">Add Member</a>
        </div>
        <br/>
        <p>Added Groups</p>
        <div class="activity">
            <a href="">Group 1</a>
        </div>
        <div class="activity">
            <a href=""> Group 2</a>
        </div>
        <div class="activity">
            <a href=""> Group 3</a>
        </div>
    </div>

    <div class ="rightbar">
        <div class="msgcontainer">
            <p>Hi have you seen me today?</p>
        </div>

        <div class="msgcontainer">
            <p>No I haven't</p>
        </div>
        <div class="msgcontainer">
            <p>No I haven't</p>
        </div>
        <div class="msgcontainer">
            <p>No I haven't</p>
        </div>
        <div class="msgcontainer">
            <p>No I haven't</p>
        </div>
        <div class="msgcontainer">
            <p>No I haven't</p>
        </div>
        <div class="msgcontainer">
        </div>
        <div class="msgcontainer">
        </div>
        <div class="msgcontainer">
        </div>
        <textarea>Enter message here</textarea>
    </div>



</div>

</body>
</html>