<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale = 1">
	<title>Home Page</title>
	<link rel="stylesheet" type="text/css" href="css/style.css"/>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css"/>
</head>
<body>
<div id="Container">
	<div class = "header">
		POST IT
		<div class = "button">
			<a href="index.html">Sign In</a>  
		</div>
		<div class = "button">
			 <a href="main.html">Sign Up</a> 
		</div>
	</div>

	<!--Content-->
	<div id="login" >
		 <form>
                <!-- <fieldset>
                    <legend>PERSONAL INFORMATION</legend> -->
                        <table>

                            <tr>
                                <td>
                                    <label for="username">User Name:</label>
                                </td>
                                <td>
                                    <input type="text" id="username" name="username">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="fname">Password:</label>
                                </td>
                                <td>
                                    <input type="text" id="password" name="password">
                                </td>
                            </tr>

                            <!-- <tr>
                                <td>
                                    <label for="mnumber">Mobile Number:</label>
                                </td>
                                <td>
                                    <input type="text" id="mnumber" name="mnumber">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <label for="email">Email Address:</label>
                                </td>
                                <td>
                                    <input type="text" id="email" name="email">
                                </td>
                            </tr> -->
                        </table>
                          <!-- <br/> -->
                        <p><button class="activity" id ="mybtn">Register</button></p>
                        <p>Forgot password? <a href="forgot.html">Click here </a></p>
                       
                        <p> Don't have an account? <a href="pages/register.html">Sign Up Now </a></p>

                        <!-- <table>
                        	<tr> -->
                  
                        	
                            <!-- <tr>
                                <td>
                                    <label for="dob">Date of Birth:</label>
                                </td>
                                <td>
                                    <label for="fname">DD/</label>
                                    <input type="text" id="fname" name="firtname" firtname" style="width: 20px">
                                </td>
                                <td>
                                    <label for="fname">MM/</label>
                                    <input type="text" id="fname" name="firtname" style="width: 100px">
                                </td>
                                <td>
                                    <label for="fname">YY</label>
                                    <input type="text" id="fname" name="firtname" firtname" style="width: 50px">
                                </td>
                            </tr> -->
                        <!-- </table> -->
       <!--  </fieldset> -->
       </form>
	</div>
	</div>
</body>
</html>